*{
   margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body {
    background-color: black;
    
}
header{
    width: 100%;
    height: 500px;
    background: black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1,h2{
    text-align: center;
    color: lightpink;
}
h4{
    color: lightpink;
    text-align: center;
}
p{
    text-align:center; 
    color: lightpink;
    
}
nav {
    position: fixed;
    width: 100%;
    background: black;
    
}  
.nav1{
    background: black;
    height: 80px;
    color: lightpink;
}
.nav2{
    background: black;
    height: 100%;
    color: lightpink;
}

.textos{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenedor-nav{
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    height: inherit;
}
nav .enlaces a{
    
    display: inline-block;
    padding: 5px 0;
    margin-right: 17px;
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    color: lightpink;
    
}
nav .enlaces a:hover {
    border-bottom: 1px pink;
    transition: 0.6s;
    
}

main .contenedor{
    margin: auto;
    padding: 60px;
    width: 90%;
    max-width: 1000px;
    text-align: center;
    overflow: hidden;
    background-color: lightpink;
    color: black;
    
}

.contenedor h2{
    color: black;
    padding: 10px;
}
.contenedor p{
    color: black;
}
.img-presentacion{
    padding: 10px;
    box-shadow: 0 0 6px 0 black;
}
.texto-portafolio{
    padding: 15px;
    
}
.after{
    padding: 20px;
}
.portafolio{
    margin: auto;
    padding: 60px;
    width: 90%;
    
}

.galeria-work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria-work .cont-work{
    width: 31%;
    box-shadow: 0 0 6px 0 white;
    height: 300px;
    overflow: hidden;
    margin-bottom: 45px;
    
}
.img-work{
    height: 90%;
    width: 100%;
    
}
.img-work img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.textos-work{
    height: 10%;
    
}
.textos-worl h4{
    line-height: 30px;
    font-weight: 300;
}
footer{
    background: black;  
}
.marca-logo{
    width: 40%;
    margin: auto;
    
}
.marca-logo img{
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 100%;
}

.logo, .logo img{
    height: 120px;
    align-items: center;
    
}
.icono-imagen {
    display: flex;
    background: lightpink;
    width: 60px;
    height: 60px;
        
}
.texto-contacto{
    text-align: center;
    padding: 40px;
}
